    <footer class="footer">
      <div class="container">
        <div class="footer-grid">
          <div class="footer-col">
            <h4>Công Ty Thu Mua Cáp Đồng Đức Minh</h4>
            <p>
              Đơn vị hàng đầu chuyên thu mua vật tư công trình, thiết bị điện và
              phế liệu dự án giá cao, cam kết mang lại giá trị thu hồi tối đa
              cho đối tác.
            </p>
          </div>
          <div class="footer-col">
            <h4>Thông Tin Liên Hệ</h4>
            <ul>
              <li>
                <strong>Địa chỉ:</strong> 14 ấp 2, Đông Thạnh, Hóc Môn, TP. HCM
              </li>
              <li>
                <strong>Hotline:</strong>
                <a href="tel:0936350118">0936.350.118</a>
              </li>
              <li>
                <strong>Email:</strong>
                <a href="mailto:quibinh0118@gmail.com">quibinh0118@gmail.com</a>
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Dịch Vụ Chính</h4>
            <ul>
              <li>
                <a href="/thu-mua-cap-dong-thiet-bi-dien/"
                  >Thu mua cáp điện & thiết bị điện</a
                >
              </li>
              <li>
                <a href="/thu-mua-pin-nang-luong-mat-troi/"
                  >Thu mua pin năng lượng mặt trời</a
                >
              </li>
              <li>
                <a href="/thu-mua-phe-lieu-cong-nghiep/"
                  >Thu mua phế liệu công nghiệp</a
                >
              </li>
              <li><a href="/thu-mua-inox/">Thu mua Inox</a></li>
              <li><a href="/thu-mua-nhom/">Thu mua nhôm</a></li>
              <li><a href="/bang-gia/">Xem Bảng Giá Phế Liệu</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Bản Đồ</h4>
            <div class="map-container">
              <iframe
                title="Bản đồ chỉ đường đến Công ty Đức Minh"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15670.804260691722!2d106.636344!3d10.910308!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d70677247829%3A0xab4886d2a9b58705!2zQ8OUTkcgVFkgVEhVIE1VQSBQSOG6viBMSeG7hlUgxJDhu6hDIE1JTkg!5e0!3m2!1svi!2sus!4v1761935511970!5m2!1svi!2sus"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>
          © <span id="year">2026</span> Bản quyền thuộc về Đức Minh. Thiết kế
          bởi MinhQuang.
        </p>
      </div>
    </footer>

    <script src="/script.js" defer></script>
  </body>
</html>
